<section class="course-panel flex-container">
    
  <!-- Navbar : Module Overview (with (togglable) Chapters & Parts) -->
  <div class="flex-item course-overview">
    <section class="course-data">
      <div href="" class="arrow-text-link">Back to Course Overview</div>
      <h2 class="course-title">Course Title</h2>
      <label for="course-meter-bar" class="course-meter-label">Completed</label>
      <meter id="course-meter-bar" value="0" min="0" max="100" class="course-meter-bar" >0%</meter>
      <!-- TODO: add %age before text label -->
      <input type="text" class="search-bar search-course" placeholder="Search Course">
    </section>
    
    <section class="scrollable course-menu">
      <!-- course content here -->
      <div class="title-link"> Art title </div>
      <!-- h3 as link only if chapter has no article -->
      <h3><div class="title-link"> Chap title </div></h3>
      <!-- TODO: make those title links display chap content (and replace the one already displayed) -->
      <!-- TODO: make sidebar comp ??-->
    </section>
  </div>
  
  <article class="flex-item chap-content-container"></article>
</section>